# Lab  5

## ðŸ‘¤ Student Information

| Field           	| Entry (fill in)                |
|-----------------|--------------------------------|
| **Name**        | _Type your full name here_     |
| **Student #**   | _Type your student number_     |
| **Course/Section** |AIG150 NAA    |
| **Date**        | _YYYY-MM-DD_                   |


**Complete All the questions**

# Questions 1-7: Apply

## Q1) Load the tips dataset from seaborn and display the first 5 rows and columns
The "tips" dataset is a classic dataset available in the seaborn library. It contains information about tips given by customers at a restaurant.
Key columns for groupby operations include:
- `sex`: The gender of the bill payer (Male, Female) - Categorical
- `smoker`: Whether the party included smokers (Yes, No) - Categorical
- `day`: The day of the week (Thur, Fri, Sat, Sun) - Categorical
- `time`: The time of day (Lunch, Dinner) - Categorical
- `total_bill`: The total bill amount (numerical)
- `tip`: The tip amount (numerical)
- `size`: The size of the party (numerical)

In [26]:
from pyodide.http import open_url
import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
tips = pd.read_csv(open_url(url))

## Q2) Apply Column-wise (Series)
**Task**: Use the .apply() method on the total_bill column to round all currency values to the nearest whole integer.

* Apply the built-in Python round function to a single Series.
* **Goal**: transform a single variable.

## Q3) Apply Row-wise  (DataFrame)
**Task**: Use the .apply() method on the entire DataFrame to find the Total Cost (Bill + Tip) for every single row using the numeric columns total_bill and tip.

* Use np.sum (from the NumPy library) and specify axis=1 to tell Pandas to look across the rows instead of down the columns.
* **Goal**: Understand the difference between axis=0 (default) and axis=1 (row-wise).

## Q4) Apply column-wise (Dataframe)
**Task**: Use the .apply() method on the numeric subset of the dataframe to calculate the Coefficient of Variation (CV) for every variable.
Standard deviation tells you the spread in "dollars." The CV tells you the spread as a percentage of the mean.

* We use the built-in stats.variation from the SciPy library. This calculates the ratio of the standard deviation to the mean (Ïƒ/Î¼). from scipy import stats.
* Subset the dataframe to include only numeric columns. tips.select_dtypes(include=[np.number])
* **workflow**: Filter for numbers â†’ Apply the statistic â†’ Scale to percentage â†’ Round
* **Comment**: you will notice Tips have a higher coefficient of variation (CV) than the Total Bill. Hence tipping behavior is more volatile/unpredictable than the cost of the food itself.

## Q5) Apply using custom function (Series) 
* **Task**: Define a function called to_euro that multiplies a value by a conversion rate (e.g., 0.92). 
* Use .apply() to create a new column total_bill_euro based on the total_bill column.

## Q6) Apply using custom function (Dataframe)
Min-Max Scaling (or Min-Max Normalization)is used to rescale your data so that every value falls between 0 and 1.
* **Task**: Define a function called **min_max_scaler** that accepts a Series as an argument, calculates its min and max, and returns the normalized Series. Use .apply() on all numeric columns of the tips dataframe. x_normalized= (x - min) / (max - min)
* to select numeric columns use: numeric_tips = tips.select_dtypes(include=[np.number])
* **Goal**: Efficiently scale an entire dataset to a [0,1] range without writing separate code for each column.

## Q7) Apply with lambda, Column-wise Normalization
**Task**: Apply a lambda function to the numeric columns of the dataframe to perform Min-Max normalization.
* when applying to a whole DataFrame, x represents the entire Series (column)
* Select numeric columns: numeric_tips = tips.select_dtypes(include=[np.number])

# Aggregation and Groupby

## Q8) Use built-in aggregation methods
Calculate the average total_bill for each day.

## Q9) Apply multiple functions at once
Compute the count, mean, and standard deviation of tip for each smoker category.

## Q10) Dictionary aggregations for different columns
Compute the mean total_bill, median tip, and count of size for each day using dictionary aggregation.

## Q11) Transform â€” one-to-one mapping
* Create a z-score of tip amount within each day using the transform method.
* use stats.zscore built in function as argument to the transform method.

## Q12) Group-Based Centering:  Use Groupby and Transform with a custom function
**Task**: Define a custom function called diff_mean that subtracts the mean of a Series from its values. Use this function within a .transform() operation to calculate the difference between each total_bill and the average total_bill for its specific day.
* Assign the result to the new column bill_diff_from_day.

* **Goal**: Master the use of .transform() to perform group-specific calculations while keeping the result aligned with the original dataframe rows. The transform method takes each day's groupby bills as a Series and passes them into my diff_mean function.

## Q13) Group-Based Filtering â€” keep groups based on a condition
**Task**: Filter the dataset to include only the days where the average party size is greater than 2.
* Use the .groupby() method followed by the .filter() method with a lambda function.
* Reminder: While transform and apply keep all your rows, filter is used to drop entire groups that don't meet a specific statistical threshold.
* Group-level filtering (.filter()): This checks the average of the entire day. If Friday's average party size is 1.9, the entire day of Friday is deleted from the result.

## Q14) Multi-Category Aggregation & Index Flattening
**Task**: Perform a grouped analysis on both sex and time to determine the average total_bill and tip. Ensure the output is returned as a flattened DataFrame rather than a Series with a Multi-Index.

## Q15) Group Extraction and Inspection
**Task**: Using a grouped object based on the day column, extract and display all original records associated specifically with Thursday.
* Method: Use the .get_group() method on the GroupBy object.