#  Lab: Lab  2

## ðŸ‘¤ Student Information

| Field           | Entry (fill in)                |
|-----------------|--------------------------------|
| **Name**        | _Type your full name here_     |
| **Student #**   | _Type your student number_     |
| **Course/Section** |AIG150 NAA    |
| **Date**        | _YYYY-MM-DD_                   |


# Submission Colab Notebook

Submit your completed Colab notebook file:
 Lab2questions_DataAccess_Cleaning_yourname_answers.ipynb
Make sure:
All code cells run without errors.
Each question has your answer included in a text cell below the code.
The notebook is self-contained (no external screenshots needed â€” outputs remain in the notebook).

---# LAB 2 Data Access & Cleaning Lab â€” 20 Q&A Exercises

# Upload the following files
This notebook uses the sample files created alongside it:

- `students.csv`
- `enrollments.csv`
- `measurements_large.csv`
- `transactions.tsv` (tab-delimited)
- `products.json`
- `app.log`
- `school.db` (SQLite)
- `inventory.html`

## Q1. Read `students.csv` and print the first 5 rows.

In [41]:
import pandas as pd
df = pd.read_csv("students.csv")
# Print the first 5 rows
print(df.head())

   student_id   name  age program   gpa
0           1  Alice   22      AI  3.90
1           2    Bob   27      DS  2.46
2           3  Cathy   24      DS  3.10
3           4    Dan   21      DS  3.82
4           5    Eva   21      DS  2.27

## Q2. Print only the `name` and `gpa` columns.

In [42]:
df = pd.read_csv("students.csv")

# Select and print specific columns
print(df[["name", "gpa"]])

     name   gpa
0   Alice  3.90
1     Bob  2.46
2   Cathy  3.10
3     Dan  3.82
4     Eva  2.27
5   Frank  3.05
6   Grace  3.50
7    Hank  3.34
8     Ivy  2.94
9    Jack  2.41
10   Kara  2.98
11   Liam  2.74
12    Mia  2.95
13   Nina  2.73
14   Omar  3.68

## Q3. Read `transactions.tsv` (tab-delimited) and show rows 3â€“7 (0-based index).

In [43]:
# Read TSV file (tab-separated)
df = pd.read_csv("transactions.tsv", sep="\t")
# Show rows with index 3 to 7
print(df.iloc[3:8])

  txn_id   user  amount   status
3  T1003    dan  136.43  pending
4  T1004  alice  110.89   failed
5  T1005  alice  153.52  pending
6  T1006  alice   73.34   failed
7  T1007    bob   57.88       ok

## Q4. Using `.loc`, show `txn_id` and `amount` for all rows

In [44]:
print(df.loc[:, ["txn_id", "amount"]])

   txn_id  amount
0   T1000   52.23
1   T1001   63.50
2   T1002  188.27
3   T1003  136.43
4   T1004  110.89
5   T1005  153.52
6   T1006   73.34
7   T1007   57.88
8   T1008   61.14
9   T1009  161.74
10  T1010  178.22
11  T1011  196.89

## Q5. Stream `measurements_large.csv` in chunks of 1000 and compute global min/max of each chunk `reading`.

In [45]:
chunk_size = 1000

global_min = None
global_max = None

for chunk in pd.read_csv("measurements_large.csv", chunksize=chunk_size):
    # Compute min and max for this chunk (column-wise)
    chunk_min = chunk.min(numeric_only=True)
    chunk_max = chunk.max(numeric_only=True)
    
    # Update global min
    if global_min is None:
        global_min = chunk_min
        global_max = chunk_max
    else:
        global_min = pd.concat([global_min, chunk_min], axis=1).min(axis=1)
        global_max = pd.concat([global_max, chunk_max], axis=1).max(axis=1)

print("Global Minimum Values:")
print(global_min)

print("\nGlobal Maximum Values:")
print(global_max)

Global Minimum Values:
sensor_id    101.00
reading       14.66
dtype: float64

Global Maximum Values:
sensor_id    104.00
reading       85.58
dtype: float64

## Q6. Still streaming, compute min/max of reading by grouping `sensor_id` and print the grouping for each chunk

In [46]:
chunk_size = 1000

for i, chunk in enumerate(pd.read_csv("measurements_large.csv", chunksize=chunk_size)):
    # Group within this chunk
    grouped = chunk.groupby("sensor_id")["reading"].agg(["min", "max"])
    
    print(f"\nChunk {i + 1}")
    print(grouped)

Chunk 1
             min    max
sensor_id
101        18.74  84.16
102        17.94  79.24
103        24.39  78.04
104        20.92  76.37

Chunk 2
             min    max
sensor_id
101        19.50  76.91
102        14.66  77.20
103        15.84  85.58
104        24.23  76.56

Chunk 3
             min    max
sensor_id
101        23.02  77.09
102        23.46  74.24
103        24.99  79.52
104        18.85  79.91

Chunk 4
             min    max
sensor_id
101        17.66  80.90
102        19.07  77.99
103        17.63  77.35
104        19.64  74.09

Chunk 5
             min    max
sensor_id
101        23.70  76.11
102        25.64  83.90
103        21.89  83.75
104        23.04  75.15

## Q7. Load `products.json` into a DataFrame and show items in the `Gadgets` category.

In [47]:
# Load JSON file
df = pd.read_json("products.json")

# Show only items in the Gadgets category
gadgets = df[df["category"] == "Gadgets"]

print(gadgets)

    id       name category  price  in_stock
4    5   Widget-5  Gadgets  76.08      True
8    9   Widget-9  Gadgets  62.94      True
11  12  Widget-12  Gadgets  28.95      True
13  14  Widget-14  Gadgets  52.84      True
14  15  Widget-15  Gadgets  48.57     False

## Q8. Read `app.log` as text and show the first 5 `ERROR` lines.

In [48]:
error_lines = []

with open("app.log", "r", encoding="utf-8") as file:
    for line in file:
        if "ERROR" in line:
            error_lines.append(line.strip())
        if len(error_lines) == 5:
            break

# Print the first 5 ERROR lines
for line in error_lines:
    print(line)

2025-09-01T09:10:00 [ERROR] User login
2025-09-01T13:05:00 [ERROR] Timeout retry
2025-09-01T13:30:00 [ERROR] Timeout retry
2025-09-01T16:25:00 [ERROR] DB slow query
2025-09-01T16:35:00 [ERROR] Cache miss

**Explanation:** Plain-text logs can be processed line-by-line without loading into a DataFrame.

## Q9. Connect to `school.db` and select students with `gpa >= 3.5`.

In [49]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

# Query students with GPA >= 3.5
cursor.execute("SELECT * FROM students WHERE gpa >= 3.5")

# Fetch and display results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close connection
conn.close()

(1, 'Alice', 22, 'AI', 3.9)
(4, 'Dan', 21, 'DS', 3.82)
(7, 'Grace', 25, 'AI', 3.5)
(15, 'Omar', 25, 'CS', 3.68)

## Q10. Read the HTML table from `inventory.html`.

In [50]:
tables = pd.read_html("inventory.html")

# Show the first table (most pages only have one main table)
df = tables[0]

print(df.head())

   id      name  category  price  in_stock
0   1  Widget-1  Supplies  11.74     False
1   2  Widget-2  Supplies  55.30     False
2   3  Widget-3     Tools  75.89     False
3   4  Widget-4     Tools  75.18      True
4   5  Widget-5   Gadgets  76.08      True

**Explanation:** `pd.read_html` parses all tables; returns a list of DataFrames.

## Q11. Create a copy of `students` with some missing values and impute `age` with the median.

In [51]:
students = pd.read_csv("students.csv")
students_copy = students.copy()

# Introduce missing values (example)
students_copy.loc[students_copy.sample(frac=0.1).index, "age"] = np.nan

# Compute median
median_age = students_copy["age"].median()

# Impute missing values (safe way)
students_copy["age"] = students_copy["age"].fillna(median_age)

print("Median age used for imputation:", median_age)
print(students_copy.head())

Median age used for imputation: 25.0
   student_id   name   age program   gpa
0           1  Alice  22.0      AI  3.90
1           2    Bob  27.0      DS  2.46
2           3  Cathy  25.0      DS  3.10
3           4    Dan  21.0      DS  3.82
4           5    Eva  21.0      DS  2.27

**Explanation:** `fillna(median)` is a simple numeric imputation strategy.

## Q12. Convert `program` to lowercase and `name` to uppercase.

In [52]:
students["program"] = students["program"].str.lower()
students["name"] = students["name"].str.upper()

print(students[["name", "program"]].head())

    name program
0  ALICE      ai
1    BOB      ds
2  CATHY      ds
3    DAN      ds
4    EVA      ds

**Explanation:** Use `Series.str` accessors for vectorized string ops.

## Q13. Right-join `students` with `enrollments` on `student_id` and show the result.

In [53]:
students = pd.read_csv("students.csv")
enrollments = pd.read_csv("enrollments.csv")

# Right join on student_id
result = pd.merge(students, enrollments, on="student_id", how="right")

print(result.head())

   student_id   name   age program   gpa course_code term
0           1  Alice  22.0      AI  3.90      AIG150  F25
1           2    Bob  27.0      DS  2.46      BTP500  F25
2           2    Bob  27.0      DS  2.46      AIG150  F25
3           4    Dan  21.0      DS  3.82      BDD300  F25
4           7  Grace  25.0      AI  3.50      SEN800  F25

**Explanation:** `how='right'` keeps all rows from `enrollments` and matches from `students`.

## Q14. Show `enrollments` rows that had no matching `student_id` in `students` (right-only).

In [54]:
students = pd.read_csv("students.csv")
enrollments = pd.read_csv("enrollments.csv")

merged = pd.merge(
    students,
    enrollments,
    on="student_id",
    how="right",
    indicator=True
)

# Rows that exist only in enrollments (no match in students)
right_only = merged[merged["_merge"] == "right_only"]

print(right_only)

   student_id name  age program  gpa course_code term      _merge
9          16  NaN  NaN     NaN  NaN      AIG150  F25  right_only

**Explanation:** use indicator=True, this will add a column named `_merge` which reveals join provenance.

## Q15. In the tiny grades table (wide) and `melt` to long format.

In [55]:
grades = pd.DataFrame({
    'student_id':[1,2,3],
    'quiz1':[8,7,9],
    'quiz2':[9,6,8]
})

**Explanation:** `melt` stacks column headers into row values, making data 'tidy'.

In [56]:
grades_long = pd.melt(
    grades,
    id_vars="student_id",      # column to keep as identifier
    var_name="quiz",           # name for former column headers
    value_name="score"         # name for values
)

print(grades_long)

   student_id   quiz  score
0           1  quiz1      8
1           2  quiz1      7
2           3  quiz1      9
3           1  quiz2      9
4           2  quiz2      6
5           3  quiz2      8

## Q16. Pivot `long` back to wide form with average score per assessment.

In [57]:
grades_wide_avg = grades_long.pivot_table(
    index="student_id",      # rows
    columns="quiz",          # new columns
    values="score",          # values to fill
    aggfunc="mean"           # average in case of duplicates
)

print(grades_wide_avg)

quiz        quiz1  quiz2
student_id
1             8.0    9.0
2             7.0    6.0
3             9.0    8.0

In [72]:
grades = pd.DataFrame({
    'name':['A', 'B', 'C'],
    'student_id':[1,2,3],
    'quiz1':[8,7,9],
    'quiz2':[9,6,8]
})

In [66]:
print(df.columns.tolist())

['id', 'name', 'category', 'price', 'in_stock']

In [73]:
print(grades.columns.tolist())

['name', 'student_id', 'quiz1', 'quiz2']

## Q17. In the DataFrame df, write Python code to create two smaller DataFrames:

a. containing the first 5 rows of the student_id and name columns.

b. containing the next 5 rows (rows 5â€“9) of the same two columns.
Concatenate them row-wise (`axis=0`).

In [74]:
# a) First 5 rows with only student_id and name
df_part1 = grades.loc[0:4, ["student_id", "name"]]

# b) Next 5 rows (rows 5â€“9) with the same columns
df_part2 = grades.loc[5:9, ["student_id", "name"]]

# Concatenate row-wise
combined_df = pd.concat([df_part1, df_part2], axis=0)

print(combined_df)

   student_id name
0           1    A
1           2    B
2           3    C

**Explanation:** `pd.concat` stacks DataFrames by rows when `axis=0`.

## Q18. Concatenate two DataFrames column-wise (`axis=1`).

In [75]:
# Split into two DataFrames
df_left = grades[["name", "student_id"]]
df_right = grades[["quiz1", "quiz2"]]

In [76]:
df = pd.read_csv("students.csv")
# Print the first 5 rows
print(df.head())

   student_id   name  age program   gpa
0           1  Alice   22      AI  3.90
1           2    Bob   27      DS  2.46
2           3  Cathy   24      DS  3.10
3           4    Dan   21      DS  3.82
4           5    Eva   21      DS  2.27

## Q19. Select students with `age >= 25` and show only `name, age, gpa`.

In [77]:
result = df.loc[df["age"] >= 25, ["name", "age", "gpa"]]

print(result)

     name  age   gpa
1     Bob   27  2.46
5   Frank   25  3.05
6   Grace   25  3.50
7    Hank   27  3.34
8     Ivy   25  2.94
9    Jack   26  2.41
10   Kara   27  2.98
11   Liam   28  2.74
12    Mia   28  2.95
13   Nina   26  2.73
14   Omar   25  3.68

## Q20. Using school.db write an SQL query joining `enrollments` with `courses` to see course titles for each enrollment.

In [81]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(school.db)

query = """
SELECT 
    e.enrollment_id,
    e.student_id,
    e.course_id,
    c.course_title
FROM enrollments e
JOIN courses c
    ON e.course_id = c.course_id;
"""

df = pd.read_sql_query(query, conn)
print(df.head())

conn.close()

NameError: name 'school' is not defined