# Lab 1
### Learning outcomes
Upon successful completion of this lab, you will have demonstrated the abilities to:
1.	Loading a dataset into a pandas dataframe
2.	Counting how many rows and columns were loaded
3.	Determining which type of data was loaded
4.	Looking at different parts of the data by subsetting rows and columns
5.	Working with Data Series

#### Before you start
Load the diabetes dataset

## Run this cell, look at the output for each command to make sure you understand the purpose of each command
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes()
print(diabetes.keys())
print(diabetes.DESCR)
print(diabetes.feature_names) # these are the column names
# attach the feature names to the data as column names
df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [ ]:
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes()

In [ ]:
print(diabetes.keys())

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [ ]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [ ]:
print(diabetes.feature_names) # these are the column names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

1. print the number of rows and columns in the dataset using the shape attribute of the dataframe object

2. print the first 5 observations of the dataset.

3. print the column names of the dataset

4. get the dtype of each column

5. use loc to show the second row of the dataset.

6. use loc to show the second, 100th and 150th rows of the dataset

7. use iloc to show the the second and 100th rows of the dataset

8. use loc to show the bmi column of the dataset

9. Use loc to show the bmi, bp columns of the dataset

10. use iloc to show the last row of the dataset

11. Use iloc to show the last two observations of the dataset

12. use loc to create a subset of the first 10 obs for age,bmi,bp columns. Then show the first 5 obs of the subset dataframe.

13. Use iloc and slicing columns method with colon (:) to slice the first 6 columns of the dataset)keep all rows). Save the sliced subset in dataframe subset, then show the first 5 obs of dataframe subset.

14. slice columns 3 to 5 inclusive into dataframe subset. then show the first 5 obs of dataframe subset.

15. use iloc and slice every other column up to 5 inclusive into a dataframe subset. Then show the first 5 obs of the dataframe subset.

16. Use loc to display the age for the 10th row of the dataframe.

17. Use loc to display the bmi for row numbers 100, 200 and 300.

For the rest of the questions, please run the below cell first, and use new_df to answer these questions.

In [ ]:
# URL of the data
url = "https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt"

# Import the data into a DataFrame
new_df = pd.read_csv(url, sep='\t')

18. use loc to display the data where age>50.

19. use loc to display only bmi and bp for the females only.

20. Get a series of age column from the dataframe object.

21. print the min, max and mean values for the age series.

22.print the basic information about age series

23.print the subset of ages that are less than mean age value

24.Sort the age series and print sorted values.

25.print all the unique values from the age series.