# Reading SQL Data into Python

This notebook demonstrates how to connect to a MySQL database using `mysql.connector`, use cursors, and read SQL queries directly into Pandas DataFrames.

In [ ]:
import mysql.connector
import pandas as pd

## 1. Connect to MySQL with `mysql.connector.connect`

In [ ]:
mydb = mysql.connector.connect(
    host="localhost",       # Replace with your host, e.g., '127.0.0.1'
    user="root",            # Replace with your username
    password="mypassword",  # Replace with your password
    database="school"        # Replace with your database name
)

print("Connected:", mydb.is_connected())

## 2. Create a cursor and fetch data

In [ ]:
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT student_id, name, grade FROM students")

# Fetch results
rows = mycursor.fetchall()
for r in rows:
    print(r)

## 3. Read SQL directly into Pandas with `pd.read_sql`

In [ ]:
query = "SELECT student_id, name, grade FROM students"

# Use Pandas to run the query and return a DataFrame
df = pd.read_sql(query, con=mydb)
df.head()

In [24]:
!pip install pypyodbc
!pip install pyodbc
import pyodbc
print(pyodbc.drivers())

Requirement already satisfied: pypyodbc in /usr/local/lib/python3.12/dist-packages (1.3.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from pypyodbc) (75.2.0)
Requirement already satisfied: pyodbc in /usr/local/lib/python3.12/dist-packages (5.2.0)
[]

In [25]:
import pandas as pd
from sqlalchemy import create_engine

# Path to your Access file
db_file = "StudentsAccess.accdb"

# Create connection string using UCanAccess (Java required)
engine = create_engine(f"access+ucanaccess:///{db_file}")

# Read table
df = pd.read_sql("SELECT * FROM students", engine)
print(df.head())

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:access.ucanaccess

In [8]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    r"Dbq=StudentsAccess.accdb;"
)
df = pd.read_sql("SELECT * FROM students", conn)
print(df.head())

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'Microsoft Access Driver (*.mdb, *.accdb)' : file not found (0) (SQLDriverConnect)")

##The error Error: IM002 [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified is still happening because the necessary Microsoft Access driver is not present in the Colab environment.

To get this working, you would still need to either:

Run the code on a machine where the Microsoft Access driver is installed (your Windows machine).
Convert your .accdb file to a format that doesn't require this specific driver in Colab (like CSV or SQLite).

In [22]:
import sqlite3
conn = sqlite3.connect("school.db")
df = pd.read_sql("SELECT * FROM students", conn)
df.head()

conn = sqlite3.connect("school.db")
high_gpa = pd.read_sql_query("SELECT * FROM students WHERE gpa >= 3.5", conn)
high_gpa.head()

   student_id   name  age program   gpa
0           1  Alice   22      AI  3.90
1           4    Dan   21      DS  3.82
2           7  Grace   25      AI  3.50
3          15   Omar   25      CS  3.68

In [23]:
!pip install oracledb

import oracledb

# Connect using username, password, host, port, and service name
conn = oracledb.connect(
    user="",
    password="",
    dsn="myoracle12c.senecacollege.ca:1521/oracle12c"
)

cursor = conn.cursor()
cursor.execute("SELECT * FROM employees")

for row in cursor:
    print(row)

cursor.close()
conn.close()

Collecting oracledb
  Downloading oracledb-3.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: cryptography>=3.2.1 in /usr/local/lib/python3.12/dist-packages (from oracledb) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography>=3.2.1->oracledb) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.23)
Downloading oracledb-3.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 24.9 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-3.3.0
(100, 'Steven', 'King', 'SKING', '515.123.4567', datetime.datetime(1987, 6, 17, 0, 0), 'PRES', 28000.0, None, None, 90)
(101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.datetime(1989, 9, 21, 0, 0), 'AD_VP', 18000.0, None, 100, 90)
(102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.datetime(1993, 1, 13, 0, 0), 'AD_VP', 17000.0, None, 100, 90)
(103, 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.datetime(1990, 1, 3, 0, 0), 'IT_PROG', 9000.0, None, 102, 60)
(104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.datetime(1991, 5, 21, 0, 0), 'IT_PROG', 8000.0, None, 103, 60)
(107, 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', datetime.datetime(1999, 2, 7, 0, 0), 'IT_PROG', 5200.0, None, 103, 60)
(124, 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', datetime.datetime(1999, 11, 16, 0, 0), 'ST_MAN', 6800.0, None, 100, 50)
(141, 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', datetime.datetime(1995, 10, 17, 0, 0), 'ST_CLERK', 3500.0, None, 124, 50)
(142, 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', datetime.datetime(1997, 1, 29, 0, 0), 'ST_CLERK', 3400.0, None, 124, 50)
(143, 'Randall', 'Matos', 'RMATOS', '650.121.2874', datetime.datetime(1998, 3, 15, 0, 0), 'ST_CLERK', 2900.0, None, 124, 50)
(144, 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', datetime.datetime(1998, 7, 9, 0, 0), 'ST_CLERK', 2900.0, None, 124, 50)
(149, 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', datetime.datetime(2000, 1, 29, 0, 0), 'SA_MAN', 12500.0, 0.2, 100, 80)
(174, 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', datetime.datetime(1996, 5, 11, 0, 0), 'SA_REP', 11000.0, 0.3, 149, 80)
(176, 'Jonathon', 'Vargas', 'JVARGAS', '011.44.1644.429265', datetime.datetime(1998, 3, 24, 0, 0), 'SA_REP', 8600.0, 0.2, 149, 80)
(178, 'Kimberely', 'Grants', 'KGRANTS', '011.44.1644.429263', datetime.datetime(1999, 5, 24, 0, 0), 'SA_REP', 8000.0, 0.15, 149, None)
(180, 'Spence', 'de Man', 'SDEMAN', '011.44.1644.420172', datetime.datetime(2017, 5, 8, 0, 0), 'SA_REP', 7000.0, 0.15, 149, None)
(200, 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', datetime.datetime(1987, 9, 17, 0, 0), 'AD_ASST', 4500.0, None, 101, 10)
(201, 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', datetime.datetime(1996, 2, 17, 0, 0), 'MK_MAN', 13000.0, None, 100, 20)
(202, 'Pat', 'Fay', 'PFAY', '603.123.6666', datetime.datetime(1997, 8, 17, 0, 0), 'MK_REP', 7000.0, None, 201, 20)
(205, 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', datetime.datetime(1994, 6, 7, 0, 0), 'AC_MGR', 12000.0, None, 101, 110)
(206, 'William', 'Gietz', 'WGIETZ', '515.123.8181', datetime.datetime(1994, 6, 7, 0, 0), 'AC_ACCOUNT', 8300.0, None, 205, 110)
(1, 'Bjorn', 'Flerjian', 'BFLERJIAN', '414.111.4567', datetime.datetime(2011, 1, 11, 0, 0), 'AC_REP', 12000.0, None, 149, 10)
(3, 'Gus', 'Grolin', 'GGROLIN', '429.311.4567', datetime.datetime(2019, 3, 23, 0, 0), 'SA_REP', 10500.0, 0.2, 149, 80)
(4, 'Bill', 'Smertal', 'BSMERTAL', '404.311.4567', datetime.datetime(2014, 3, 24, 0, 0), 'SA_REP', 9300.0, 0.2, 149, 80)
(5, 'Dave', 'Mustain', 'DMUSTAIN', '405.511.4567', datetime.datetime(2021, 5, 25, 0, 0), 'SA_REP', 9600.0, 0.2, 149, 80)
(6, 'Henry', 'Harvey', 'HHARVEY', '406.616.4567', datetime.datetime(2018, 6, 6, 0, 0), 'SA_REP', 7000.0, 0.25, 149, 80)
(7, 'Henri', 'LeDuc', 'HLEDUC', '427.711.4567', datetime.datetime(2016, 7, 27, 0, 0), 'SA_REP', 7000.0, 0.25, 149, 80)
(8, 'Conrad', 'Bergsteige', 'CBERGSTEIGE', '429.881.4567', datetime.datetime(2016, 8, 8, 0, 0), 'SA_REP', 8000.0, 0.2, 149, 80)
(9, 'Kurt', 'Gruber', 'KGRUBER', '429.309.9032', datetime.datetime(2019, 9, 29, 0, 0), 'SA_REP', 9000.0, 0.2, 149, 80)
(11, 'Miguel', 'Sanchez', 'MSANCHEZ', '429.311.4511', datetime.datetime(2017, 10, 11, 0, 0), 'SA_REP', 10500.0, 0.2, 149, 80)
(12, 'Dan', 'Chancevente', 'DCHANCE', '429.312.4567', datetime.datetime(2007, 3, 12, 0, 0), 'SA_REP', 12000.0, 0.15, 149, 80)
(14, 'Greg', 'Torson', 'GTORSON', '429.311.4567', datetime.datetime(2014, 2, 14, 0, 0), 'SA_REP', 7000.0, 0.2, 149, 80)
(15, 'Chris', 'Cornel', 'CCORNEL', '415.315.4567', datetime.datetime(2021, 3, 15, 0, 0), 'SA_REP', 12500.0, 0.15, 149, 80)
(16, 'Bil', 'Gibbons', 'BGIBBONS', '429.311.4567', datetime.datetime(2019, 3, 23, 0, 0), 'SA_REP', 11500.0, 0.2, 149, 80)
(17, 'Russ', 'Pallomine', 'RPALLOMINE', '429.317.4567', datetime.datetime(2017, 7, 27, 0, 0), 'SA_REP', 5000.0, 0.2, 149, 80)
(18, 'Lyn', 'Jacobs', 'LJACOBS', '429.317.4567', datetime.datetime(2019, 4, 18, 0, 0), 'SA_REP', 10000.0, 0.2, 149, 80)
(19, 'Sally', 'Strandherst', 'SSTRANDHERST', '519.319.4567', datetime.datetime(2018, 7, 19, 0, 0), 'SA_REP', 4500.0, 0.25, 149, 80)
(21, 'Thomas', 'Brigade', 'TBRIGADE', '429.317.4567', datetime.datetime(2019, 9, 21, 0, 0), 'SA_REP', 5750.0, 0.25, 149, 80)
(22, 'Jane', 'Litrand', 'JLITRAND', '429.317.4567', datetime.datetime(2021, 10, 22, 0, 0), 'SA_REP', 9000.0, 0.2, 149, 80)
(23, 'Tony', 'Armarillo', 'TARMARILLO', '429.323.2323', datetime.datetime(2021, 11, 23, 0, 0), 'SA_REP', 7500.0, 0.2, 149, 80)
(24, 'Matt', 'Mot', 'MMOT', '429.317.4567', datetime.datetime(2018, 12, 24, 0, 0), 'SA_REP', 20000.0, 0.2, 149, 80)
(25, 'Gilles', 'Turcotte', 'GTURCOTTE', '429.317.4567', datetime.datetime(2011, 1, 25, 0, 0), 'SA_REP', 10000.0, 0.2, 149, 80)
(26, 'Francoise', 'LeBlanc', 'FRLEBLANC', '429.317.4567', datetime.datetime(2019, 4, 18, 0, 0), 'SA_REP', 3700.0, 0.2, 149, 80)
(27, 'Carlos', 'Rodriguez', 'CRODRIGUEZ', '429.317.4567', datetime.datetime(2021, 4, 27, 0, 0), 'SA_REP', 11000.0, 0.2, 149, 80)
(28, 'Malcom', 'Young', 'MYOUNG', '429.317.4567', datetime.datetime(2001, 4, 28, 0, 0), 'SA_REP', 9000.0, 0.2, 149, 80)
(29, 'Charles', 'Loo Nam', 'CLOONAM', '429.317.4567', datetime.datetime(2019, 4, 29, 0, 0), 'SA_REP', 5500.0, 0.2, 149, 80)
(30, 'Lee', 'Chan', 'LCHAN', '429.317.4567', datetime.datetime(2016, 6, 30, 0, 0), 'SA_REP', 7000.0, 0.2, 149, 80)
(33, 'Torey', 'Wandiko', 'TWANDIKO', '429.317.4567', datetime.datetime(2017, 4, 18, 0, 0), 'SA_REP', 6700.0, 0.2, 149, 80)
(34, 'Kaley', 'Gregson', 'KGREGSON', '429.317.4567', datetime.datetime(2017, 4, 18, 0, 0), 'SA_REP', 8800.0, 0.2, 149, 80)
(35, 'Hari', 'Krain', 'HKRAIN', '429.317.4567', datetime.datetime(2021, 4, 5, 0, 0), 'SA_REP', 8700.0, 0.2, 149, 80)
(36, 'Ingrid', 'Termede', 'ITERMEDE', '429.336.4536', datetime.datetime(2014, 12, 1, 0, 0), 'SA_REP', 11000.0, 0.15, 149, 80)
(31, 'Lee', 'Chan', 'LCHAN2', '429.317.4568', datetime.datetime(2017, 6, 30, 0, 0), 'SA_REP', 7500.0, 0.2, 149, 80)
(39, 'Lisa', 'Testorok', 'LTESTOROK', '429.317.4567', datetime.datetime(2019, 3, 3, 0, 0), 'SA_REP', 11000.0, 0.15, 149, 80)
(40, 'Marthe', 'Whiteduck', 'MWHITEDUCK', '429.317.4540', datetime.datetime(2014, 4, 10, 0, 0), 'SA_REP', 9000.0, 0.2, 149, 80)
(41, 'Inigo', 'Montoya', 'IMONTAYA', '429.317.4541', datetime.datetime(2019, 2, 11, 0, 0), 'SA_REP', 5000.0, 0.3, 149, 80)

In [26]:
import pandas as pd

# Path to your Excel file
excel_file = "StudentsAccess.xls"

# Read the Excel file into a DataFrame
df_excel = pd.read_excel(excel_file)

# Display the first few rows of the DataFrame
display(df_excel.head())

   ID  studentid studentname  grade
0   1        123       Alice      3
1   2        456         Bob      4
2   3        789        Jane      2

In [27]:
import pandas as pd

# URL of an example online CSV file
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

# Read the CSV file into a DataFrame
df_online_csv = pd.read_csv(url)

# Display the first few rows of the DataFrame
display(df_online_csv.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True