
# â±ï¸ Python `datetime` Methods


## How to use this notebook
- Attempt each **Exercise (â“)** first.
- Compare with the **Answer (âœ…)** right below.
- Run the **Check (ðŸ”Ž)** cell to verify automatically.

## 1) Basics: `today()`, `now()`, naive vs aware datetimes

In [7]:
from datetime import datetime, timezone, date, time, timedelta
naive_now = datetime.now()
aware_now_utc = datetime.now(timezone.utc)
print(f"Naive datetime: {naive_now}")
print(f"Aware UTC datetime: {aware_now_utc}")

Naive datetime: 2025-09-21 04:45:32.544496
Aware UTC datetime: 2025-09-21 04:45:32.544537+00:00

## 2) Constructing `date`, `time`, `datetime`

In [5]:
d = date(2025, 9, 21)
t = time(14, 30, 15, 123456)
dt = datetime.combine(d, t)
d_iso, t_iso, dt_iso = d.isoformat(), t.isoformat(), dt.isoformat()
(d_iso, t_iso, dt_iso)

('2025-09-21', '14:30:15.123456', '2025-09-21T14:30:15.123456')

## 4) Arithmetic: `timedelta` addition, subtraction, comparisons

In [11]:

start = date(2025, 1, 15)
duration = timedelta(days=90)
end_date = start + duration
print(end_date)
diff_days = (date(2025, 7, 1) - date(2025, 6, 15)).days

diff_days

2025-04-15

16

## 5) Normalizing: zeroing time, start/end of day using `replace`

In [13]:
dt = datetime(2025, 9, 21, 16, 45, 33, 987000)
start_of_day = dt.replace(hour=0, minute=0, second=0, microsecond=0)
end_of_day = dt.replace(hour=23, minute=59, second=59, microsecond=999_999)
(start_of_day, end_of_day)

(datetime.datetime(2025, 9, 21, 0, 0),
 datetime.datetime(2025, 9, 21, 23, 59, 59, 999999))

## 11) Business logic: next business day (Monâ€“Fri)

In [15]:

def next_business_day(d: date) -> date:
    d = d + timedelta(days=1)
    while d.weekday() >= 5:  # 5=Sat, 6=Sun
        d += timedelta(days=1)
    return d

ex1 = next_business_day(date(2025, 9, 19))
ex2 = next_business_day(date(2025, 9, 20))
ex3 = next_business_day(date(2025, 9, 21))
(ex1, ex2, ex3)

(datetime.date(2025, 9, 22),
 datetime.date(2025, 9, 22),
 datetime.date(2025, 9, 22))