
# Python String Methods

## 1) Basics: Immutability, Indexing, and Slicing


** Q1.** Given `s = "Data Wrangling"`, write code to:
1) get the first character,  
2) the last 3 characters,  
3) the substring `"Wrang"`,  
4) and explain in a comment why `s[0] = "d"` raises an error.

In [ ]:


s = "Data Wrangling"
first_char = s[0]
last_three = s[-3:]
sub_wrang = s[5:10]   # 'Wrang'
# Strings are immutable in Python; item assignment like s[0] = 'd' is not allowed.

first_char, last_three, sub_wrang

('D', 'ing', 'Wrang')

## 2) Case Methods: `.lower()`, `.upper()`, `.title()`, `.capitalize()`, `.swapcase()`, `.casefold()`


** Normalize the string `txt = "Straße & MAÇã"` to lowercase for case-insensitive comparison (handle locale-specific letters properly).  
Use the **best suited** method for aggressive case normalization.

In [2]:
txt = "Straße & MAÇã"
print(f"Original: {txt}")
print(f".lower(): {txt.lower()}")
print(f".upper(): {txt.upper()}")
print(f".title(): {txt.title()}")
print(f".capitalize(): {txt.capitalize()}")
print(f".swapcase(): {txt.swapcase()}")
print(f".casefold(): {txt.casefold()}")

Original: Straße & MAÇã
.lower(): straße & maçã
.upper(): STRASSE & MAÇÃ
.title(): Straße & Maçã
.capitalize(): Straße & maçã
.swapcase(): sTRASSE & maçÃ
.casefold(): strasse & maçã

## 3) Whitespace & Trimming: `.strip()`, `.lstrip()`, `.rstrip()`


** Q3.** Clean the string `raw = "  \t\n  data.csv  \n  "` to exactly `"data.csv"` (no leading or trailing whitespace).

In [3]:
raw = "  \t\n  data.csv  \n  "
print(f"Original: '{raw}'")
print(f".strip(): '{raw.strip()}'")
print(f".lstrip(): '{raw.lstrip()}'")
print(f".rstrip(): '{raw.rstrip()}'")

Original: '
  data.csv
  '
.strip(): 'data.csv'
.lstrip(): 'data.csv
  '
.rstrip(): '
  data.csv'

##  Replace & Translate: `.replace()`, `.translate()`, `str.maketrans()`


** Given `text = "a+b-c*d/a"`, replace **all** `+` with `-`, and then remove all `/` characters **in one step** using `translate` (not a loop).

In [4]:
text = "a+b-c*d/a"
# Demonstrate replace() - replace '+' with '-'
text_replaced = text.replace("+", "-")
print(f"After replace('+','-'): {text_replaced}")

# Demonstrate translate() and str.maketrans()
# Replace '+' with '-' and remove '/' in one step
translation_table = str.maketrans({"+": "-", "/": None})
text_translated = text.translate(translation_table)
print(f"After translate() with removing '/': {text_translated}")

After replace('+','-'): a-b-c*d/a
After translate() with removing '/': a-b-c*da

## 5) Search & Count: `.find()`, `.rfind()`, `.index()`, `.count()`, `.startswith()`, `.endswith()`

In [7]:
s = "John Smith"
first_smi = s.find("smi")
last_smi = s.rfind("smi")
count_a = s.count("a")
starts = s.startswith("smi")
ends = s.endswith("smi")

(first_smi, last_smi, count_a, starts, ends)

(-1, -1, 0, False, False)

## 6) Split, Join, Partition: `.split()`, `.rsplit()`, `.splitlines()`, `.partition()`, `.rpartition()`, `'sep'.join(...)`



```
# This is formatted as code
```


** Given a CSV-like line:  
`line = "id,first,last,email,city,state"`  
Split it **once** on the first comma into `(head, sep, tail)` using the appropriate method. Then split `tail` on commas into a list of columns.

In [10]:
line = "id,first,last,email,city,state"

# Demonstrate split()
split_list = line.split(",")
print(f"After split(','): {split_list}")

# Demonstrate rsplit() - split from the right
rsplit_list = line.rsplit(",", 2) # Split at the last two commas
print(f"After rsplit(',', 2): {rsplit_list}")

# Demonstrate 'sep'.join()
joined_string = "-".join(split_list)
print(f"After '-'.join(split_list): {joined_string}")

# Example with splitlines() (though not applicable to this specific string)
multi_line_string = "Line1\nLine2\r\nLine3"
split_lines = multi_line_string.splitlines()
print(f"splitlines() example: {split_lines}")

After split(','): ['id', 'first', 'last', 'email', 'city', 'state']
After rsplit(',', 2): ['id,first,last,email', 'city', 'state']
After '-'.join(split_list): id-first-last-email-city-state
splitlines() example: ['Line1', 'Line2', 'Line3']

## 7) Character Tests: `.isalpha()`, `.isdigit()`, `.isalnum()`, `.isspace()`, `.isupper()`, `.islower()`, `.istitle()`

In [11]:
samples = ["CS101", "   ", "SãoPaulo", "HELLO"]
result = {}
for s in samples:
    result[s] = (s.isalnum(), s.isspace(), s.isupper(), s.istitle())
result

{'CS101': (True, False, True, False),
 '   ': (False, True, False, False),
 'SãoPaulo': (True, False, False, False),
 'HELLO': (True, False, True, False)}

## 8) Alignment & Padding: `.center()`, `.ljust()`, `.rjust()`, `.zfill()`

*italicised text*
** Pad the number string `n = "42"` to width 6 with leading zeros. Then center the word `"data"` in width 10 using `*` as the fill character.

In [14]:
n = "42"
padded_zfill = n.zfill(6)      # '000042'

word = "data"
centered = word.center(10, "*") # '***data***'
ljusted = word.ljust(10, "-")   # 'data------'
rjusted = word.rjust(10, "_")   # '______data'

print(f"Using zfill() on '42': {padded_zfill}")
print(f"Using center() on 'data': {centered}")
print(f"Using ljust() on 'data': {ljusted}")
print(f"Using rjust() on 'data': {rjusted}")

Using zfill() on '42': 000042
Using center() on 'data': ***data***
Using ljust() on 'data': data------
Using rjust() on 'data': ______data

## 9) Formatting: `.format()`, `.format_map()`


** Using `str.format`, produce:  
`"Alice bought 3 items at $19.99 each"` from `name="Alice"`, `qty=3`, `price=19.99` with price shown to **two decimals**.

In [15]:
name, qty, price = "Alice", 3, 19.99

# Using format()
msg_format = "{} bought {} items at ${:.2f} each".format(name, qty, price)
print(f"Using .format(): {msg_format}")

# Using format_map()
data = {'name': name, 'qty': qty, 'price': price}
msg_format_map = "{name} bought {qty} items at ${price:.2f} each".format_map(data)
print(f"Using .format_map(): {msg_format_map}")

Using .format(): Alice bought 3 items at $19.99 each
Using .format_map(): Alice bought 3 items at $19.99 each