#  Lab: Lab  2

## ðŸ‘¤ Student Information

| Field           | Entry (fill in)                |
|-----------------|--------------------------------|
| **Name**        | _Type your full name here_     |
| **Student #**   | _Type your student number_     |
| **Course/Section** |AIG150 NAA    |
| **Date**        | _YYYY-MM-DD_                   |


# Submission Colab Notebook

Submit your completed Colab notebook file:
 Lab2questions_DataAccess_Cleaning_yourname_answers.ipynb
Make sure:
All code cells run without errors.
Each question has your answer included in a text cell below the code.
The notebook is self-contained (no external screenshots needed â€” outputs remain in the notebook).

---# LAB 2 Data Access & Cleaning Lab â€” 20 Q&A Exercises

# Upload the following files
This notebook uses the sample files created alongside it:

- `students.csv`
- `enrollments.csv`
- `measurements_large.csv`
- `transactions.tsv` (tab-delimited)
- `products.json`
- `app.log`
- `school.db` (SQLite)
- `inventory.html`

In [ ]:

from pathlib import Path
import pandas as pd, numpy as np, sqlite3, json, re
base = Path(".")
base, list(p.name for p in base.iterdir())

## Q1. Read `students.csv` and print the first 5 rows.

## Q2. Print only the `name` and `gpa` columns.

## Q3. Read `transactions.tsv` (tab-delimited) and show rows 3â€“7 (0-based index).

## Q4. Using `.loc`, show `txn_id` and `amount` for all rows

## Q5. Stream `measurements_large.csv` in chunks of 1000 and compute global min/max of each chunk `reading`.

## Q6. Still streaming, compute min/max of reading by grouping `sensor_id` and print the grouping for each chunk

## Q7. Load `products.json` into a DataFrame and show items in the `Gadgets` category.

## Q8. Read `app.log` as text and show the first 5 `ERROR` lines.

**Explanation:** Plain-text logs can be processed line-by-line without loading into a DataFrame.

## Q9. Connect to `school.db` and select students with `gpa >= 3.5`.

## Q10. Read the HTML table from `inventory.html`.

**Explanation:** `pd.read_html` parses all tables; returns a list of DataFrames.

## Q11. Create a copy of `students` with some missing values and impute `age` with the median.

**Explanation:** `fillna(median)` is a simple numeric imputation strategy.

## Q12. Convert `program` to lowercase and `name` to uppercase.

**Explanation:** Use `Series.str` accessors for vectorized string ops.

## Q13. Right-join `students` with `enrollments` on `student_id` and show the result.

**Explanation:** `how='right'` keeps all rows from `enrollments` and matches from `students`.

## Q14. Show `enrollments` rows that had no matching `student_id` in `students` (right-only).

**Explanation:** use indicator=True, this will add a column named `_merge` which reveals join provenance.

## Q15. In the tiny grades table (wide) and `melt` to long format.

In [ ]:
grades = pd.DataFrame({
    'student_id':[1,2,3],
    'quiz1':[8,7,9],
    'quiz2':[9,6,8]
})

**Explanation:** `melt` stacks column headers into row values, making data 'tidy'.

## Q16. Pivot `long` back to wide form with average score per assessment.

## Q17. In the DataFrame df, write Python code to create two smaller DataFrames:

a. containing the first 5 rows of the student_id and name columns.

b. containing the next 5 rows (rows 5â€“9) of the same two columns.
Concatenate them row-wise (`axis=0`).

**Explanation:** `pd.concat` stacks DataFrames by rows when `axis=0`.

## Q18. Concatenate two DataFrames column-wise (`axis=1`).

## Q19. Select students with `age >= 25` and show only `name, age, gpa`.

## Q20. Using school.db write an SQL query joining `enrollments` with `courses` to see course titles for each enrollment.