In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(['banana', 42])
s

In [ ]:
s = pd.Series(['Wes', 'Creater'], index=['person', 'who'])
s

In [ ]:
s.loc[0] # yields an error

In [ ]:
s.loc['person']

In [ ]:
s.iloc[0]

In [ ]:
scientists=pd.DataFrame(
data={'Occupation':['Chemist','Statistician'],
'Born':['1920-07-25', '1876-06-13'],
'Died':['1958-04-16', '1937-10-16'],
'Age':[37,61]},
index=['Rosaline Franklin','William Gosset'],
columns=['Occupation', 'Born','Died','Age'])

In [ ]:
scientists

In [ ]:
scientists.reset_index() # try without inplace=True

In [ ]:
scientists.reset_index(inplace=True) #

In [ ]:
scientists = pd.read_csv('data/scientists.csv')

In [ ]:
scientists

In [ ]:
ages = scientists['Age']

In [ ]:
ages

In [ ]:
ages = scientists.Age
ages

In [ ]:
type(ages)

In [ ]:
ages.mean()

In [ ]:
ages.std()

In [ ]:
ages.median()

In [ ]:
ages.quantile(0.5)

In [ ]:
ages.quantile(.75)

In [ ]:
ages.shape

In [ ]:
ages.min()

In [ ]:
ages.describe()

In [ ]:
scientists.describe()

In [ ]:
ages[ages > ages.mean()]

In [ ]:
ages[(ages > 50) & (ages < 75)]

In [ ]:
ages[(ages > ages.mean()) & ~(ages > 75)]

In [ ]:
ages.describe()

In [ ]:
ages + 100

In [ ]:
scientists

In [ ]:
scientists.columns

In [ ]:
scientists.drop(['Age'], axis=1, inplace = True)
scientists.columns

In [ ]:
s=pd.Series([37, 61, 90, 66, 56, 45, 41, 77] ) 
s

In [ ]:
# add column to the dataframe
scientists['age']= s

In [ ]:
scientists[scientists['Age'] > scientists['Age'].mean()]

In [ ]:
scientists['Age'] > scientists['Age'].mean()

In [ ]:
scientists

In [ ]:
scientists.dtypes

In [ ]:
# strftime
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [ ]:
pd.to_datetime?

In [ ]:
born_datetime

In [ ]:
scientists['born_dt'] = born_datetime

In [ ]:
# same as above
scientists['born_dt'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [ ]:
scientists

In [ ]:
scientists.info()

In [ ]:
scientists['died_dt'] = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
scientists

In [ ]:
scientists = scientists.drop(['Born', 'Died'], axis=1)

In [ ]:
scientists

In [ ]:
scientists.to_csv('scientists_clean.csv', index=False)

In [ ]:

scientists = pd.read_csv('../data/scientists.csv', sep=',') # sep=',' is the default
scientists = pd.read_csv('../data/scientists.csv')
scientists = pd.read_csv('../data/scientists.csv', ',') # using positional argument passing for sep
print(scientists.head())

In [ ]:
# drop multiple columns 

# remember you need to re-assign the 'dropped' dataframe or use inplace=True
scientists = scientists.drop(['Born', 'Died'], axis=1)
scientists.head()