# Lab 1
### Learning outcomes
Upon successful completion of this lab, you will have demonstrated the abilities to:
1.	Loading a dataset into a pandas dataframe
2.	Counting how many rows and columns were loaded
3.	Determining which type of data was loaded
4.	Looking at different parts of the data by subsetting rows and columns
5.	Working with Data Series

#### Before you start
Load the diabetes dataset

## Run this cell, look at the output for each command to make sure you understand the purpose of each command
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes()
print(diabetes.keys())
print(diabetes.DESCR)
print(diabetes.feature_names) # these are the column names
# attach the feature names to the data as column names
df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [75]:
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes()

In [76]:
print(diabetes.keys())

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [77]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

:Number of Instances: 442

:Number of Attributes: First 10 columns are numeric predictive values

:Target: Column 11 is a quantitative measure of disease progression one year after baseline

:Attribute Information:
    - age     age in years
    - sex
    - bmi     body mass index
    - bp      average blood pressure
    - s1      tc, total serum cholesterol
    - s2      ldl, low-density lipoproteins
    - s3      hdl, high-density lipoproteins
    - s4      tch, total cholesterol / HDL
    - s5      ltg, possibly log of serum triglycerides level
    - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [78]:
print(diabetes.feature_names) # these are the column names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

1. print the number of rows and columns in the dataset using the shape attribute of the dataframe object

In [79]:
X = diabetes.data
rows, columns = X.shape
print("Rows:", rows)
print("Columns:", columns)

Rows: 442
Columns: 10

2. print the first 5 observations of the dataset.

In [80]:
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
print(df.head())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641

3. print the column names of the dataset

In [81]:
print(diabetes.feature_names)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

4. get the dtype of each column

In [82]:
print(df.dtypes)

age    float64
sex    float64
bmi    float64
bp     float64
s1     float64
s2     float64
s3     float64
s4     float64
s5     float64
s6     float64
dtype: object

5. use loc to show the second row of the dataset.

In [83]:
# Show the second row using loc (index starts at 0)
print(df.loc[1])

age   -0.001882
sex   -0.044642
bmi   -0.051474
bp    -0.026328
s1    -0.008449
s2    -0.019163
s3     0.074412
s4    -0.039493
s5    -0.068332
s6    -0.092204
Name: 1, dtype: float64

6. use loc to show the second, 100th and 150th rows of the dataset

In [84]:
print(df.loc[[1, 99, 149]])

          age       sex       bmi        bp        s1        s2        s3  \
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99  -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948
149 -0.049105  0.050680 -0.005128 -0.046985 -0.020832 -0.020416 -0.069172

           s4        s5        s6
1   -0.039493 -0.068332 -0.092204
99   0.034309  0.011785 -0.054925
149  0.071210  0.061238 -0.038357

7. use iloc to show the the second and 100th rows of the dataset

In [85]:
#.iloc is position-based indexing
print(df.iloc[[1, 99]])

         age       sex       bmi        bp        s1        s2        s3  \
1  -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99 -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948

          s4        s5        s6
1  -0.039493 -0.068332 -0.092204
99  0.034309  0.011785 -0.054925

8. use loc to show the bmi column of the dataset

In [86]:
print(df.loc[:, 'bmi'])

0      0.061696
1     -0.051474
2      0.044451
3     -0.011595
4     -0.036385
         ...
437    0.019662
438   -0.015906
439   -0.015906
440    0.039062
441   -0.073030
Name: bmi, Length: 442, dtype: float64

9. Use loc to show the bmi, bp columns of the dataset

In [87]:
print(df.loc[:, ['bmi', 'bp']])

          bmi        bp
0    0.061696  0.021872
1   -0.051474 -0.026328
2    0.044451 -0.005670
3   -0.011595 -0.036656
4   -0.036385  0.021872
..        ...       ...
437  0.019662  0.059744
438 -0.015906 -0.067642
439 -0.015906  0.017293
440  0.039062  0.001215
441 -0.073030 -0.081413

[442 rows x 2 columns]

10. use iloc to show the last row of the dataset

In [88]:
print(df.iloc[-1])

age   -0.045472
sex   -0.044642
bmi   -0.073030
bp    -0.081413
s1     0.083740
s2     0.027809
s3     0.173816
s4    -0.039493
s5    -0.004222
s6     0.003064
Name: 441, dtype: float64

11. Use iloc to show the last two observations of the dataset

In [89]:
print(df.iloc[-2:])

          age       sex       bmi        bp        s1        s2        s3  \
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6
440  0.026560  0.044529 -0.025930
441 -0.039493 -0.004222  0.003064

12. use loc to create a subset of the first 10 obs for age,bmi,bp columns. Then show the first 5 obs of the subset dataframe.

In [90]:
subset_df = df.loc[0:9, ['age', 'bmi', 'bp']]
print(subset_df.head())

        age       bmi        bp
0  0.038076  0.061696  0.021872
1 -0.001882 -0.051474 -0.026328
2  0.085299  0.044451 -0.005670
3 -0.089063 -0.011595 -0.036656
4  0.005383 -0.036385  0.021872

13. Use iloc and slicing columns method with colon (:) to slice the first 6 columns of the dataset)keep all rows). Save the sliced subset in dataframe subset, then show the first 5 obs of dataframe subset.

In [91]:
subset = df.iloc[:, :6]
print(subset.head())

        age       sex       bmi        bp        s1        s2
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596

14. slice columns 3 to 5 inclusive into dataframe subset. then show the first 5 obs of dataframe subset.

In [92]:
subset = df.iloc[:, 3:6]
print(subset.head())

         bp        s1        s2
0  0.021872 -0.044223 -0.034821
1 -0.026328 -0.008449 -0.019163
2 -0.005670 -0.045599 -0.034194
3 -0.036656  0.012191  0.024991
4  0.021872  0.003935  0.015596

15. use iloc and slice every other column up to 5 inclusive into a dataframe subset. Then show the first 5 obs of the dataframe subset.

In [93]:
subset = df.iloc[:, :6:2]
print(subset.head())

        age       bmi        s1
0  0.038076  0.061696 -0.044223
1 -0.001882 -0.051474 -0.008449
2  0.085299  0.044451 -0.045599
3 -0.089063 -0.011595  0.012191
4  0.005383 -0.036385  0.003935

16. Use loc to display the age for the 10th row of the dataframe.

In [94]:
print(df.loc[9, 'age'])

-0.07090024709715959

17. Use loc to display the bmi for row numbers 100, 200 and 300.

In [95]:
print(df.loc[[99, 199, 299], 'bmi'])

99    -0.064408
199   -0.045007
299   -0.013751
Name: bmi, dtype: float64

For the rest of the questions, please run the below cell first, and use new_df to answer these questions.

In [99]:
# URL of the data
url = "https://www4.stat.ncsu.edu/~boos/var.select/diabetes.tab.txt"

# Import the data into a DataFrame
new_df = pd.read_csv(url, sep='\t')
new_df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

18. use loc to display the data where age>50.

In [100]:
result = new_df.loc[df['age'] > 50]
print(result)

Empty DataFrame
Columns: [age, sex, bmi, bp, s1, s2, s3, s4, s5, s6]
Index: []

19. use loc to display only bmi and bp for the females only.

In [101]:
new_df.loc[df['sex'] < 0, ['bmi', 'bp']]

          bmi        bp
1   -0.051474 -0.026328
3   -0.011595 -0.036656
4   -0.036385  0.021872
5   -0.040696 -0.019442
9    0.039062 -0.033213
..        ...       ...
434  0.001339  0.008101
435 -0.023451 -0.040099
436 -0.074108 -0.050427
440  0.039062  0.001215
441 -0.073030 -0.081413

[235 rows x 2 columns]

20. Get a series of age column from the dataframe object.

In [102]:
age_series = new_df['age']

print(age_series)

0      0.038076
1     -0.001882
2      0.085299
3     -0.089063
4      0.005383
         ...
437    0.041708
438   -0.005515
439    0.041708
440   -0.045472
441   -0.045472
Name: age, Length: 442, dtype: float64

21. print the min, max and mean values for the age series.

In [104]:
age_series = new_df['age']

print("Min age:", age_series.min())
print("Max age:", age_series.max())
print("Mean age:", age_series.mean())

Min age: -0.1072256316073538
Max age: 0.11072667545381144
Mean age: -2.511816797794472e-19

22.print the basic information about age series

In [105]:
age_series = new_df['age']
age_series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 442 entries, 0 to 441
Series name: age
Non-Null Count  Dtype
--------------  -----
442 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB

23.print the subset of ages that are less than mean age value

In [107]:
age_series = new_df['age']

mean_age = age_series.mean()
below_mean_ages = age_series[age_series < mean_age]

print(below_mean_ages)

1     -0.001882
3     -0.089063
5     -0.092695
6     -0.045472
9     -0.070900
         ...
435   -0.012780
436   -0.056370
438   -0.005515
440   -0.045472
441   -0.045472
Name: age, Length: 202, dtype: float64

24.Sort the age series and print sorted values.

In [108]:
age_series = new_df['age']

sorted_age = age_series.sort_values()
print(sorted_age)

26    -0.107226
374   -0.107226
344   -0.107226
242   -0.103593
226   -0.103593
         ...
211    0.092564
311    0.096197
321    0.096197
204    0.110727
402    0.110727
Name: age, Length: 442, dtype: float64

25.print all the unique values from the age series.

In [109]:
age_series = new_df['age']
print(age_series.unique())

[ 0.03807591 -0.00188202  0.08529891 -0.08906294  0.00538306 -0.09269548
 -0.04547248  0.06350368  0.04170844 -0.07090025 -0.09632802  0.02717829
  0.01628068  0.04534098 -0.05273755 -0.00551455  0.07076875 -0.0382074
 -0.02730979 -0.04910502 -0.0854304  -0.06363517 -0.06726771 -0.10722563
 -0.02367725  0.05260606  0.06713621 -0.06000263  0.03444337  0.03081083
  0.04897352  0.01264814 -0.00914709 -0.09996055  0.01991321 -0.05637009
 -0.07816532 -0.04183994  0.05987114 -0.03457486 -0.03094232 -0.10359309
 -0.01641217  0.00175052 -0.02004471  0.0562386   0.02354575  0.0090156
 -0.07453279 -0.01277963 -0.08179786  0.08166637  0.11072668  0.09256398
  0.07440129  0.07803383  0.09619652  0.08893144]