#  Lab: Lab  4

## ðŸ‘¤ Student Information

| Field           	| Entry (fill in)                |
|-----------------|--------------------------------|
| **Name**        | Harpreet SIngh    |
| **Student #**   | 011932084     |
| **Course/Section** |AIG150 NAA    |
| **Date**        | 2026-02-09                   |


**Complete All the questions**
*  Submit the filled in answers Lab4_Answers.ipynb file and the `retail_transactions_cleaned.csv` file


# Handling Missing Data in Pandas

# Task
Load the "retail_transactions_messy.csv" file into a pandas DataFrame, identify and handle missing data, and explain the steps taken.

## 1) Load the data

### Subtask:
Load the `retail_transactions_messy.csv` file into a pandas DataFrame.

**Reasoning**:
Load the data from the specified CSV file into a pandas `df_retail `DataFrame as requested.

In [2]:
import pandas as pd

In [4]:
df_retail = pd.read_csv("retail_transactions_messy.csv")
df_retail.head()

,order_id,order_date,customer_id,segment,city,province,quantity,unit_price,discount,shipping_cost,comments
0,ORD-1000,01-Jan-2024,C002,Corporate,Toronto,SK,1,232.49,-,NaN,NaN
1,ORD-1001,2024-01-02,C001,Consumer,Ottawa,QC,2,218.26,NaN,NaN,â€”
2,ORD-1002,03-Jan-2024,C005,Home Office,NaN,QC,4,82.47,0.0,32.01,NaN
3,ORD-1003,02/30/2024,C004,Small Biz,Halifax,SK,3,-999,0.15,65.37,urgent delivery
4,ORD-1004,05-Jan-2024,,Consumer,Calgary,AB,1,,NaN,159.06,NaN

## 2)Inspect the data

### Subtask:
Display the head of the DataFrame and check the data types and summary statistics to get an initial understanding of the data.

**Reasoning**:
Display the head of the DataFrame, check the data types, and generate descriptive statistics to understand the data structure and identify potential issues like missing values or incorrect data types.

In [7]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       121 non-null    object
 1   order_date     103 non-null    object
 2   customer_id    98 non-null     object
 3   segment        112 non-null    object
 4   city           97 non-null     object
 5   province       115 non-null    object
 6   quantity       97 non-null     object
 7   unit_price     99 non-null     object
 8   discount       99 non-null     object
 9   shipping_cost  98 non-null     object
 10  comments       68 non-null     object
dtypes: object(11)
memory usage: 10.7+ KB

## 3)Identify missing data

### Subtask:
Check for missing values using `.isnull()` and `.sum()` to see which columns have missing data and how many.

**Reasoning**:
Calculate and display the number of missing values per column in the df_retail DataFrame.

In [8]:
df_retail.isnull()

,order_id,order_date,customer_id,segment,city,province,quantity,unit_price,discount,shipping_cost,comments
0,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,True,True,False
2,False,False,False,False,True,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
118,False,False,False,False,True,False,False,False,False,False,True
119,False,False,False,False,False,True,False,False,False,False,False
120,True,True,True,True,False,True,True,True,True,True,False
121,False,False,True,True,True,True,True,True,True,True,True
122,False,True,True,True,True,False,True,True,True,True,True

## 4) Handle missing data

### Subtask:
Handle missing data in the `df_retail` DataFrame using appropriate methods.

**Reasoning**:
Handle missing data in the specified columns using appropriate methods as per the instructions.
 1. Convert the 'order_date' column to datetime objects, coercing errors to NaT.


 2. Fill missing values in the 'city' and 'province' columns with a placeholder like 'Unknown'.


 3. Convert the 'quantity' column to numeric, coercing errors to NaN, and then fill missing values with the median quantity.


 4. Convert the 'unit_price' column to numeric, coercing errors to NaN, and fill missing values with the median unit price.


 5. Convert the 'discount' column to numeric, coercing errors to NaN, and fill missing values with 0.


 6. Convert the 'shipping_cost' column to numeric, coercing errors to NaN, and then fill missing values with the median shipping cost.


 7. Fill missing values in the 'comments' column with an empty string.


 8. Drop rows where 'order_id' or 'customer_id' are missing.

In [15]:
df_retail['order_date'] = pd.to_datetime(df_retail['order_date'], errors='coerce')
#Fill missing values in city and province with 'Unknown'
df_retail['city'] = df_retail['city'].fillna('Unknown')
df_retail['province'] = df_retail['province'].fillna('Unknown')
#Convert quantity to numeric and fill missing values with the median
df_retail['quantity'] = pd.to_numeric(df_retail['quantity'], errors='coerce')
df_retail['quantity'] = df_retail['quantity'].fillna(df_retail['quantity'].median())
#Convert unit_price to numeric and fill missing values with the median
df_retail['unit_price'] = pd.to_numeric(df_retail['unit_price'], errors='coerce')
df_retail['unit_price'] = df_retail['unit_price'].fillna(df_retail['unit_price'].median())
#Convert discount to numeric and fill missing values with 0
df_retail['discount'] = pd.to_numeric(df_retail['discount'], errors='coerce')
df_retail['discount'] = df_retail['discount'].fillna(0)
#Convert shipping_cost to numeric and fill missing values with the median
df_retail['shipping_cost'] = pd.to_numeric(df_retail['shipping_cost'], errors='coerce')
df_retail['shipping_cost'] = df_retail['shipping_cost'].fillna(df_retail['shipping_cost'].median())
#Fill missing values in comments with an empty string
df_retail['comments'] = df_retail['comments'].fillna('')
#Drop rows where order_id or customer_id are missing
df_retail = df_retail.dropna(subset=['order_id', 'customer_id'])
#Confirms that missing values are handled as intended.
df_retail.isnull().sum()

order_id          0
order_date       72
customer_id       0
segment           7
city              0
province          0
quantity          0
unit_price        0
discount          0
shipping_cost     0
comments          0
dtype: int64

### 5) Replace missing values for `order_date`

There are several strategies for handling missing date values in the `order_date` column:

*   **Replace with a specific placeholder date**: You can fill missing dates with a predefined date, such as a default or a date outside the expected range, to indicate that the original date was missing.
*   **Forward fill (`ffill`) or Backward fill (`bfill`)**: If your data has a logical temporal order, you might use forward or backward fill to propagate the last or next valid date. However, this might not be appropriate if the missing dates are not sequential.
*   **Drop rows with missing dates**: If the rows with missing dates are a small portion of your data and are not essential for your analysis, you could drop those rows.
*   **Imputation based on other columns**: In some cases, you might be able to infer or estimate the missing date based on information in other columns.

The choice of method depends on the nature of your data and the goals of your analysis.

## <span style="color:red; font-size:20px;">Since order_date is a critical variable for time-based analysis and each transaction is independent, rows with missing order dates were removed. This avoids introducing artificial or misleading dates and ensures the integrity of trend and temporal analyses.</span>

In [16]:
df_retail = df_retail.dropna(subset=['order_date'])

### 6) Replace missing values for `segment`

For categorical columns like `segment`, you can handle missing values by:

*   **Replacing with the mode**: Fill missing values with the most frequent category in the column.
*   **Replacing with a placeholder**: Use a string like 'Unknown' or 'Missing' to indicate that the original segment was not recorded.

In [18]:
#Replace Missing Values with the Mode
mode_segment = df_retail['segment'].mode()[0]
df_retail['segment'] = df_retail['segment'].fillna(mode_segment)

## 7) Verify handling

### Subtask:
Check again for missing data to ensure the chosen methods were effective.

In [19]:
#Final Missing Data Check
df_retail.isnull().sum()

order_id         0
order_date       0
customer_id      0
segment          0
city             0
province         0
quantity         0
unit_price       0
discount         0
shipping_cost    0
comments         0
dtype: int64

## 8) Store the cleaned data

### Subtask:
Save the `df_retail` DataFrame, which now has missing values handled, to a new CSV file named `retail_transactions_cleaned.csv`.

In [20]:
#Save the Cleaned DataFrame to CSV
df_retail.to_csv("retail_transactions_cleaned.csv", index=False)
#Confirm the file was saved correctly
pd.read_csv("retail_transactions_cleaned.csv").head()

,order_id,order_date,customer_id,segment,city,province,quantity,unit_price,discount,shipping_cost,comments
0,ORD-1000,2024-01-01,C002,Corporate,Toronto,SK,1.0,232.49,0.00,83.12,NaN
1,ORD-1002,2024-01-03,C005,Home Office,Unknown,QC,4.0,82.47,0.00,32.01,NaN
2,ORD-1004,2024-01-05,,Consumer,Calgary,AB,1.0,82.11,0.00,159.06,NaN
3,ORD-1007,2024-01-08,C002,Home Office,Vancouver,SK,6.0,45.73,0.15,63.92,NaN
4,ORD-1010,2024-01-11,C001,Corporate,Unknown,QC,3.0,82.11,0.10,83.12,NaN